<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
</head>
<body>
    Sign in!
    <p>Hello!!! ログインユーザーは、</p>
	<p th:text="${userName}"></p>
 
	<form method="post" th:action="@{/logout}">
	     <input type="submit" value="logout">
	</form>
</body>
</html>